* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.navbars {
   
    background: linear-gradient(rgb(220, 206, 206), rgb(233, 200, 233));
}
.home-logo {
    filter: grayscale(90%) invert(100%);
    margin-bottom: -40px;
    padding: 0px 0px 20px 100px;
}
.nav-hover:hover {
    transform:translateY(10px);
    text-decoration-line: underline;
}
.nav-hover {
    transition: all .5s;
}

/* header */
.landing-page {
    background: url("/pexels-josh-sorenson-154138.jpg") no-repeat;
    background-size:100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    filter:grayscale(60%) invert(5%);
}
.landing-page h2 {
    color: rgb(255, 186, 76);
    font-size: 40px;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}
.landing-page h1 {
    font-size: 80px;
}
.logos-img {
    opacity: 0.9;
    filter: grayscale(100%) invert(100%)
}
.logo-partners {
    height: 70px;
}
/* landing-page */
/* about us */
.about-us {
    height: 100vh;
    background: linear-gradient(rgb(233, 200, 233), rgb(237, 230, 230));
    display: flex;
    justify-content: space-between;
    
}
.left-div {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;

    margin: 50px 0px 0px 120px;
    letter-spacing: 1px;
    
}
.left-div h2 {
    
    margin: 0px 0px 0px 20px;

}
.left-div h1 {
    font-size: 50px;
    margin: 20px;
}
.left-div p {
    font-size: 22px;
    color: rgb(91, 89, 78);
    margin: 20px;

}
.left-div button {
    margin: 20px;
    padding: 15px;
    background-color: #ffffff;
}
.right-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px;
    border: 20px solid whitesmoke;
    border-radius: 15px 15px;
    
}

/* about us */
/* images */
.div-images {
    filter: saturate(3);
        -webkit-filter:hue-rotate(100);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0.9;
    background: linear-gradient(rgb(245, 239, 245), rgb(245, 226, 226));
}
/* images */
/* featured drums */
.div-featured {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 40px 0px 0px 0px;
    background: linear-gradient(rgb(245, 226, 226), rgb(242, 225, 216));
    
}
.div-featured h2 p {
    font-size: 15px;
}
.div-featured h1 {
    font-size: 46px;
}
.div-featured p {
    font-size: 18px;
}
.main-featured {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.main-featured > div {
    text-align: center;
    justify-content: space-between;
}
.main-featured h2 {
    font-size: 30px;
}
.main-featured p {
    font-size: 60px;
}
.main-featured span {
    font-size: 20px;
    color: red;
}
.main-featured ul {
    font-size: 18px;
    
}
.main-featured button {
    margin: 20px;
    padding: 15px;
    color: #894a4a;
}
.sub-left {
    margin: 30px 0px 30px 0px;
    border: 10px solid white;
    filter: saturate(3);  
}
.sub-center {
    margin: 30px 0px 30px 0px;
    border: 10px solid white;
    filter: saturate(3);  
}
.sub-right {
    margin: 30px 0px 30px 0px;
    border: 10px solid white;
    filter: saturate(3);  
}
/* featured drums */
.testimonials {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(234, 222, 188), rgba(251, 247, 211, 0.882));
}
.testimonials h2 {
    font-size: 15px;
    padding: 50px 0px 20px 0px;
     
}
.testimonials h1 {
    font-size: 40px;
    letter-spacing: 2px;
    padding: 0px 0px 20px 0px;
}
.testi-containers {
    display: flex;
    text-align: center;
}
.testi-containers > div {
    padding: 0px 40px 0px 40px;
    font-size: 20px;
}
.div-katryn {
    margin-left: 80px;
}
.testi-containers h2 {
    font-size: 40px;
}
.daniel {
    height: 200px;
    width: 200px;
    border-radius: 150px 150px;
    
}
.katryn {
    height: 200px;
    width: 200px;
    border-radius: 150px 150px;
}
.bbm {
    height: 200px;
    width: 190px;
    border-radius: 150px 150px;
}
.testi-containers button {
    margin: 20px;
    padding: 15px;
    color: black;
    
}
.testi-containers span {
    color: #de9337;
}
/* testimonials */
/* featured drums */
.div-featured {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 40px 0px 0px 0px;
    background: linear-gradient(rgb(245, 226, 226), rgb(242, 225, 216));
    
}
.div-featured h2 p {
    font-size: 15px;
}
.div-featured h1 {
    font-size: 46px;
}
.div-featured p {
    font-size: 18px;
}
.main-featured {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.main-featured > div {
    text-align: center;
    justify-content: space-between;
}
.main-featured h2 {
    font-size: 30px;
}
.main-featured p {
    font-size: 60px;
}
.main-featured span {
    font-size: 20px;
    color: red;
}
.main-featured ul {
    font-size: 18px;
    
}
.main-featured button {
    margin: 20px;
    padding: 15px;
    color: #894a4a;
}
.sub-left {
    margin: 30px 0px 30px 0px;
    border: 10px solid white;
    filter: saturate(3);  
}
.sub-center {
    margin: 30px 0px 30px 0px;
    border: 10px solid white;
    filter: saturate(3);  
}
.sub-right {
    margin: 30px 0px 30px 0px;
    border: 10px solid white;
    filter: saturate(3);  
}
/* featured drums */
/* property */
.div-property {
    border-top:  2px solid rgb(255, 185, 180);
    height: 60vh;
    background: linear-gradient(rgb(242, 225, 216), rgb(245, 226, 226));
    text-align: center; 
    padding: 70px 0px 0px 0px;
}
.div-property h2 {
    padding: 20px;
    font-size: 15px;
}
.div-property h1 {
    padding-bottom: 50px;
}
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    font-size: 30px;
    color: gray;
}
.icon-container p {
   padding: 20px;
}
/* property */
.loc {
    background: linear-gradient(rgb(242, 225, 216), rgb(245, 226, 226));
}
/* footer */
footer {
    height: 30vh;
    background-color:#161616;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 12px;
}
footer h1 {
    font-size: 25px;
    color: rgb(226, 234, 181);
}
footer span {
    color: rgb(241, 85, 85);
}
.footer-copy {
    background-color: black;
   text-align: center;
   color: aliceblue;
}
div span {
    color: rgb(241, 85, 85);
}
/* footer */
.modal-h1 {
   
    background: linear-gradient(rgb(245, 226, 226), rgb(242, 225, 216));
}
.m-content {
    padding: 20px;
}